@media print {
	#mediaValidatorPane, #answerKeyPane, #printPane{
		height: auto;
		overflow-y: auto;
	}

	.page-break { display: block; page-break-before: always; }	

	@page {
		size: letter landscape;
		margin: 0.2cm;	
	}
	
	header nav, footer {
		display: none;
	}	

	p a {
		word-wrap: break-word;
	}

	a {
		color : #000;
	}	

	hr {
	    clear: both;
	    visibility: hidden;
	}

	img {
		max-width: 600px;	
	}	
	
	img.print{
		display: block;
	    margin-left: auto;
	    margin-right: auto;	
	}

/*	#pageTitle.print, #caption.print{
		text-align: center;
	}*/

	#footer.print {
	    position:fixed;bottom:0;
	    width:100%;
	}
}